html, body, div, span,
h1, h2, h3, h4, h5, h6, 
p, pre, a, strong, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline; 
}
html {
    line-height: 1; 
}
body {
    font-family: 'Inconsolata', sans-serif;
    margin: 0;
    padding: 0;
}
ul {
    list-style: none; 
}
li {
    list-style-type: none;
}
h1, h2, h3, h4, h5, h6, p {
    font-weight: normal;
    line-height:110%;
}
h1 {
    font-size:2em;
}
h2 {
    font-size:1.75em;
    margin-bottom: 10px;
}
h3 {
    font-size:1.4em;
    margin-bottom: 5px;
}
a, a:visited {
    text-decoration: underline;
    color: black;
}
a:hover {
    color: gray;
}
.gp-header {
    padding: 20px;
}
.gp-module {
    padding: 20px;
}
.gp-module > .gp-list {
    margin-bottom:15px;
}
.gp-module > .gp-list > li:nth-child(odd) {
    background: #efefef;
}
.gp-list > li {
    padding:5px 10px;
}
.gp-experience ul ul li {
    float: left;
    padding-right: 10px;
}
.gp-experience ul ul {
    overflow: hidden;
}